<?xml version="1.0" encoding="utf-8"?>
<Configuration packages="com.avioconsulting.log4j">

    <!--These are some of the loggers you can enable. 
        There are several more you can find in the documentation. 
        Besides this log4j configuration, you can also use Java VM environment variables
        to enable other logs like network (-Djavax.net.debug=ssl or all) and 
        Garbage Collector (-XX:+PrintGC). These will be append to the console, so you will 
        see them in the mule_ee.log file. -->

    <Appenders>
        <RollingFile name="FILE" fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}documents-snflk-exp-api.log" 
                 filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}documents-snflk-exp-api-%i.log">
            <PatternLayout pattern="%-5p %d [%t] [event: %X{correlationId}] %c: %m%n" />
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
		
	 	<SQS name="SQS" 
			awsAccessKey="${sys:aws.sqs.accessKey}"
			awsRegion="${sys:aws.sqs.region}"
			awsSecretKey="${sys:aws.sqs.secretKey}"
			maxBatchOpenMs="${sys:aws.sqs.maxBatchOpenMs}"
			maxBatchSize="${sys:aws.sqs.maxBatchSize}"
			maxInflightOutboundBatches="${sys:aws.sqs.maxInflightOutboundBatches}"
			queueName="${sys:aws.sqs.region.short}-${sys:aws.sqs.env}-logging-v2-forward-queue">
			<JsonLayout compact="true" eventEol="true">
			  	<KeyValuePair key="application" value="documents-snflk-exp-api"/>
			  	<KeyValuePair key="timestamp" value="${date:dd MMM yyyy HH:mm:ss,SSS}" />
				<KeyValuePair key="correlationId" value="${ctx:correlationId}" />
			  	<KeyValuePair key="env" value="${sys:env}" />
			  </JsonLayout> 
		</SQS>	
		
        <Log4J2CloudhubLogAppender name="CLOUDHUB"
                                   addressProvider="com.mulesoft.ch.logging.DefaultAggregatorAddressProvider"
                                   applicationContext="com.mulesoft.ch.logging.DefaultApplicationContext"
                                   appendRetryIntervalMs="${sys:logging.appendRetryInterval}"
                                   appendMaxAttempts="${sys:logging.appendMaxAttempts}"
                                   batchSendIntervalMs="${sys:logging.batchSendInterval}"
                                   batchMaxRecords="${sys:logging.batchMaxRecords}"
                                   memBufferMaxSize="${sys:logging.memBufferMaxSize}"
                                   journalMaxWriteBatchSize="${sys:logging.journalMaxBatchSize}"
                                   journalMaxFileSize="${sys:logging.journalMaxFileSize}"
                                   clientMaxPacketSize="${sys:logging.clientMaxPacketSize}"
                                   clientConnectTimeoutMs="${sys:logging.clientConnectTimeout}"
                                   clientSocketTimeoutMs="${sys:logging.clientSocketTimeout}"
                                   serverAddressPollIntervalMs="${sys:logging.serverAddressPollInterval}"
                                   serverHeartbeatSendIntervalMs="${sys:logging.serverHeartbeatSendIntervalMs}"
                                   statisticsPrintIntervalMs="${sys:logging.statisticsPrintIntervalMs}">
            <PatternLayout pattern="%c{1} %-5p %d [%t] [event: %X{correlationId}] %c: %m%n" />
        </Log4J2CloudhubLogAppender>
    </Appenders>
    <Loggers>
        
        <!-- Http Logger shows wire traffic on DEBUG. -->
        <!--AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="DEBUG" /-->
        <AsyncLogger name="org.mule.service.http" level="WARN"/>
        <AsyncLogger name="org.mule.extension.http" level="WARN"/>
    
		<!-- Mule logger -->        
        <AsyncLogger name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO"/>
        <AsyncLogger name="com.mulesoft.mq.restclient.internal.circuit.DefaultCircuitBreaker" level="INFO"/>
 
        <AsyncRoot level="INFO">
            <AppenderRef ref="FILE" />
            <AppenderRef ref="CLOUDHUB"/>
            <AppenderRef ref="SQS" />
        </AsyncRoot>
    </Loggers>
</Configuration>
